<div class="employee-form">

  <div>
    <label>Employee Name</label><br/>
    <input type="text" placeholder="Employee name" [(ngModel)]="name" />
  </div>

  <div>
    <label>Position</label><br/>
    <select [(ngModel)]="position">
      <option value="developer">Developer</option>
      <option value="qa-tester">QA Tester</option>
      <option value="manager">Manager</option>
    </select>
  </div>

  <button (click)="addEmployee()">Add</button>
</div>

<div class="table-container">
  <table>
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Expense Allocation</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employees.indexOf(employee) + 1}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.allocation | currency:'USD'}}</td>
      </tr>
    </tbody>
  </table>
</div>
