<div>
  <input type="text" placeholder="Employee name" [(ngModel)]="name" />
  <select [(ngModel)]="position">
    <option value="developer">Developer</option>
    <option value="qa-tester">QA Tester</option>
    <option value="manager">Manager</option>
  </select>
  <button (click)="addEmployee()">Add</button>
</div>

<div>
  <table>
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Allocation</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>1</td>
        <td>{{employee.name}}</td>
        <td>{{employee.allocation | currency:'USD'}}</td>
      </tr>
    </tbody>
  </table>
</div>
