<div *ngIf="department">
  <h2>{{department.name}} Department</h2>

  <div>
    Total Allocation
    <b>{{department.totalAllocation | currency:'USD'}}</b>
  </div>
</div>

<div>
  <select [(ngModel)]="selectedEmployee">
    <option *ngFor="let employee of allEmployees" [value]="employee.id">{{employee.name}}</option>
  </select>

  <button (click)="addEmployee()">Add</button>
</div>

<div>
  <table>
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Allocation</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>1</td>
        <td>{{employee.name}}</td>
        <td>{{employee.allocation | currency:'USD'}}</td>
      </tr>
    </tbody>
  </table>
</div>
